<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&family=Caveat&display=swap');
    </style>
</head>
<body>
    {{> menu}}
      
    {{{body}}}

   {{> comment}}

    {{> footer}}
</body>
<html>