<link rel="stylesheet"  type="text/css" href="../style-state.css">

<div class="textMain">
    <div class="HeadTitle">
        <h1>{{topic}}</h1>
    </div>



    <div class="TextP">
        {{text}}
    </div>

    <div class="foottext">
        <p class="author">{{author}}</p>
        <p class="time"> Дата публикации: <time datetime="2021-12-30T14:36-00:00">{{date}}</time></p>



    </div>

</div>