<link rel="stylesheet" href="../style-state.css">
<ul class="textMain">
    <li><a href="/states/1">Статья 1</a></li>
    <li><a href="/states/2">Статья 2</a></li>
    <li><a href="/states/3">Статья 3</a></li>
</ul>