<link rel="stylesheet" type="text/css" href="../style-footer.css">
<footer id="footer">
        <div class="footloc">
            <ul class="foottxt">
                <ol>Это футер</ol>
                <ul>
                    <ol>пускай тут что-то будет</ol>
                </ul>

            </ul>

        </div>
    </footer>