<link rel="stylesheet" type="text/css" href="../style-header.css">

<header>
        <div class="logo">
            <img src="../source/logo.png" width="50" alt="Logo">
        </div>
        <div class="namelogo">
            <p class="namelogo_txt">Хоба и ДЗ</p>
        </div>
        <ul class="listhead">
            <li class="main-butt">
                <a href="/states" class="text-butt">Главная</a>
            </li>
            <li class="main-butt">
                <a href="###" class="text-butt">LINK</a>
            </li>
            <li class="main-butt">
                <a href="###" class="text-butt">LINK</a>
            </li>
            <li class="main-butt">
                <a href="###" class="text-butt">LINK</a>
            </li>

        </ul>
    </header>